.space {

    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}


.container {


    display: flex;
    background-color: white;
    height: 75vh;
    width: 55vw;
    

}


.left-pannel {


   font-size: 48px;
   color: white;
   font-weight: bold;
   font-style: italic;

}

#title {

    position: relative;
    bottom: 103%;
    left: 98px;



}
.form-holder {

    display: flex;
    align-items: center;
    justify-content: center;
    right: 250px;
    
  
   



}

#beer-form {
    
    font-size: 18px;
}




input {
    
    height: 25px;
    


}