.space {

    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}


.container {


    display: flex;
    background-color: white;
    height: 75vh;
    width: 55vw;
    

}


.form-holder{

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    
    
    
    
}



#title {

    font-size: 50px;
    color: white;
    font-style: italic;
    position: relative;
    left:750px;


}


#welcome{


    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    position: relative;
    left: 10px;
    
    
    


}

#uno {

    position: relative;
    top: 150px;
    right: 39%;
    font-size: 30px;
    font-style: italic;
    
    
    

}


.forms {

    font-size: 18px;
   

}


input {

    height: 25px;
    

}