.space {

    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}


.container {


    display: flex;
    background-color: white;
    height: 75vh;
    width: 55vw;
    

}


.left-pannel {


   font-size: 48px;
   color: white;
   font-weight: bold;
   font-style: italic;

}

#title {

    position: relative;
    bottom: 103%;
    left: 98px;



}


.top-right-pannel {


    font-size: 38px;
   color: black;
   font-weight: bold;
   font-style: italic;


}




#beer-form {
    
    font-size: 18px;
}




input {
    
    height: 25px;
    


}


.bottom-right-pannel {

    position: relative;
    top: 74%;
    right: 35%;
    font-size: 18px;
    


}

.bottom-right-pannel button{


    background-color: rgb(255, 153, 0);
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.bottom-right-pannel a {

    color: rgb(255, 153, 0);

}